:root {
    --dark_bg: #2A2A30;
    --dark_color: #9b9b9b;
	--dark_accent: #189cb0;
    --dark: #18181b;
    --dark_transparent_white: rgba(255, 255, 255, 0.2);
}

.dark{
    color: var(--dark_color);
    background-color: var(--dark_bg);  
}
.dark .mynavbar {
    background-color: var(--dark);
    border-bottom: solid 1px var(--dark);
    color: var(--dark_color);
}
.dark .mynavbar::after { 
    background: var(--dark_bg);
}
.dark .nav-right a {
    color: var(--dark_color);
}
.dark .nav-left li:hover, .dark .nav-left li:focus, .dark .nav-left li:active, 
.dark .nav-right li:hover, .dark .nav-right li:focus, .dark .nav-right li:active,
.dark .nav-left a:hover, .dark .nav-left a:focus, .dark .nav-left a:active, 
.dark .nav-right a:hover, .dark .nav-right a:focus, .dark .nav-right a:active{
    color: var(--dark_accent);
}
.dark #menu .bar1, .dark #menu .bar2, .dark #menu .bar3{
    background-color: var(--dark_color);
}
.dark .modal-header{
    background: var(--dark_bg);
    color: var(--dark_color);
    border: solid 1px var(--dark_bg);
}
.dark .modal-content {
    background-color: var(--dark_color);
    border: solid 1px var(--dark_color);
    color: var(--dark_bg);
}
.dark #lightDarkMode .checkbox .ball {
    background-color: var(--dark_color);
} 
.dark .navbar-box {
    background-color: var(--dark);
}
.dark .nav-left li:last-child {
    border-bottom: solid 0px transparent;
}
.dark #header{
    background-image: url(../img/bg-desk-dark.jpg);
    background-color: var(--dark_bg);
    color: var(--dark_color);
}
.dark .header_title_container {
    color: var(--dark);
}
.dark .header_title{
    background: var(--dark_transparent_white);
}
/* .dark .header_title_container h1, .dark .header_title_container h2 {
    color: var(--dark);
} */
.dark .scroll li {
    color: var(--dark_color);
}
.dark .full-height hr {
    border-top: 1px solid var(--dark_color) !important;
}
.dark .full-height #header-sapou hr {
    border-top: 1px solid var(--dark) !important;
}
.dark .about_tabs_title{
    border-color: var(--dark_color);
    color: var(--dark_color);
}
.dark .about_tabs_title:hover{
    color:var(--accent);
	border-color:var(--accent);
}
.dark .about_content_box h4{
	border-bottom:solid 1px var(--dark_color);
}
.dark .contact_info svg {
    color: var(--dark_color);
}
.dark input, .dark textarea {
    background-color: transparent;
}
.dark .about_content_box{
    border: solid 1px var(--dark_color);
}
.dark #top {
    color: var(--dark_color);
}
.dark #top:hover {
    color: var(--accent);
}
.dark footer { 
	background-color:var(--dark);  
    color: var(--dark_color);
}
.dark .portofolio-list {
    border-bottom: solid 1px var(--dark_color);
}
.dark .portofolio-list li {
    color: var(--dark_color);
}
.dark .cell {
    background-color: var(--dark_color);
    color: var(--dark_bg);
}
.dark .button_accent{
    color: var(--dark)!important;
}
.dark .button_accent:hover, .button_accent:active, .button_accent:focus{
    color: var(--accent)!important;
}
.dark #contact_map .leaflet-popup-content-wrapper, 
.dark #contact_map .leaflet-popup-tip,
.dark #contact_map .leaflet-touch .leaflet-bar a, 
.dark #contact_map .leaflet-touch .leaflet-control-layers-toggle{
    background-color: var(--dark_color);
    border: solid 1px var(--dark_bg);
    color: var(--dark_bg);    
}
.dark #contact_map .leaflet-container a.leaflet-popup-close-button {
    color: var(--dark_bg);
}
.dark .leaflet-container a.leaflet-popup-close-button:hover, .dark .leaflet-container a.leaflet-popup-close-button:focus {
    color: var(--dark_accent);
}
.dark .mycv,
.dark .cv_close,
.dark .mycv a,
.dark .mytutorials,
.dark .mytutorials_close {
    color: var(--dark);
}
.dark #loader_container span{
    color: var(--dark_color);
}
.dark #loader01 {
    border-top: 5px solid var(--dark_color);
}
.dark #loader02{
	border-left: 5px solid var(--coldark_coloror);
}
.dark #loader03{
	border-right: 5px solid var(--dark_color);
}
.dark #loader04{
	border-bottom: 5px solid var(--dark_color);
}

.dark .dropdown .dropdown-toggle{
    color: var(--dark);
}
.dark .dropdown-item{
    color: var(--dark);
}
.dark .dropdown-item:hover, .dark .dropdown-item:hover, .dark .dropdown-item:hover{
    background-color: var(--dark);
    color: var(--dark_accent);
}

.dark .tag, .dark .tag a, .dark .tag_close{
    color: var(--dark);
}

/* MEDIA */
@media (max-width: 768px) {
    .dark .nav-left li {
        border-bottom: solid 1px var(--dark_color);
    }
    .dark .nav-left li:last-child {
        border-bottom: solid 0px transparent;
    }
}

.dark ::-webkit-scrollbar-track {
	background:var(--dark_color);
	border:solid 4px var(--dark_bg)
}
.dark ::-webkit-scrollbar-thumb{
	background-color: var(--dark_color);
	border:solid 1px var(--dark_bg);
}