:root {
	--blue: #189cb0;
    --bg: #2A2A30;
    --color: #9b9b9b;
    --transparent: rgba(0,0,0,0.8);
    --grey: #f3f4f6;
	--light_grey: #bebebe;
	--grey333:#333;
	--grey666:#666;
	--grey888:#888;
    --dark: #18181b;
}

.dark{
    color: var(--color);
    background-color: var(--bg);  
}
.dark .mynavbar{
    background-color: var(--dark);
    border-bottom: solid 1px var(--dark);
}
.dark .mynavbar::after{
    background: var(--color);
}
.dark .mynavbar a{
    color: var(--color);
}
.dark .mynavbar a:hover, .dark .mynavbar .dark a:focus {
    color: var(--blue);
}
.dark .navbar-box {
    background-color: var(--dark);
}
.dark #menu .bar1, .dark #menu .bar2, .dark #menu .bar3{
    background-color: var(--color);
}
.dark #settings .dropdown-menu{
    border: solid 1px var(--color);
    background-color: var(--dark);
}
.dark #settings_button{
    border: solid 1px var(--color);
    color: var(--color);
}
.dark #settings_button:hover, .dark #settings_button:focus{
    border: solid 1px var(--blue);
    color: var(--blue);
}
.dark #header{
    background-image: url(../img/bg-desk-dark.jpg);
    background-color: var(--bg);
    color: var(--color);
}
.dark .border_white{
    text-shadow: none;
}
.dark .full-height{
    background-color: var(--bg);
}
.dark .full-height hr{
    border-top: 1px solid var(--color)!important;
}
.dark .header-title-container{
    background: var(--dark);
}
.dark .full-height a, .dark .full-height a:hover, .dark .full-height a:focus{
    color: var(--color);
}
.dark .button-white{
    color: var(--color);
    border: solid 1px var(--color);
}
.dark .button-white:hover, .dark .button-white:active, .dark .button-white:focus{
    color: var(--blue);
    border: solid 1px var(--blue);
}
.dark #header-buttons .button-white:hover{
    color: var(--blue);
    border: solid 1px var(--blue);
}
.dark .about_content_box{
    background-color: var(--grey666);
    color: var(--grey)
}
.dark .about_content_box h4{
    border-bottom: solid 1px var(--grey);
}
.dark .about_content_box .projects a, .dark .about_content_box .projects a:hover, .dark .about_content_box .projects a:focus, .dark .about_content_box .projects a:active{
    color: var(--dark);
}
.dark .about_content_box a, .dark .about_content_box a:hover, .dark .about_content_box a:focus, .dark .about_content_box a:active{
    color: var(--grey);
}
.dark .about_tabs_title{
    border: solid 1px var(--color);
    color: var(--color);
}
.dark .open .about_tabs_title, .dark .about_tabs_title:hover{
    color: var(--blue);
    border: solid 1px var(--blue);
}
.dark .portofolio-list{
    border-bottom: solid 1px var(--color);
}
.dark .portofolio-list li{
    color: var(--color);
}
.dark #portofolio_links_other button{
    color: var(--color);
}
.dark .item-more-info{
    color: var(--grey);
}
.dark textarea.shadow_convex, .dark input.shadow_convex, .dark .button_yellow.shadow_convex, .dark .button_table.shadow_convex, .dark #login_form.shadow_convex, .dark .shadow_convex{
    box-shadow: 2px 2px 5px var(--transparent)!important;
}
.dark .item-container{
    background-color: var(--grey666);
}
.dark .modal-dialog{
    color: var(--grey);
}
.dark .modal-content{
    background-color: var(--grey666);
}
.dark .grid-info .used span.box, .dark .used span.box, .dark #tutorial_box_container span.box{
    color: var(--grey);
    border: solid 1px var(--grey);
}
.dark .mymodal .modal-header {
    border-bottom: 1px solid var(--grey);
}
.dark .close, .dark .close:hover, .dark .close:focus{
    color: var(--grey);
}
.dark #tutorial_header_container div {
    border: solid 1px var(--grey);
    color: var(--grey);
}
.dark #tutorial_header_container div.active{
    border: solid 1px var(--blue);
    color: var(--grey);
    background-color: var(--blue);
}
.dark .form-control{
    background-color: var(--grey666);
    color: var(--dark);
}
.dark .box-form label{
    color: var(--color);
}
.dark .contact_page_container .contact_front{
    color: var(--dark);
}
.dark .contact_page_container .contact_back .click_me{
    color: var(--dark);
}
.dark .contact_page_container .contact_front{
    color: var(--dark);
}
.dark .contact_page_container .contact_front a{
    color: var(--dark);
}
.dark footer{
    background-color: var(--dark);
}
.dark .chatbot_display_container{
    background-color: var(--grey666);
}

@media (min-width: 768px){
    .nav-left li, .nav-right li {
        border-right: solid 1px var(--color);
    }
}

.dark .mycv, .dark .mytutorials{
    color: var(--dark);
}
.dark .mytutorials_close{
    color: var(--dark);
}

@media (max-width: 767px){
    .dark #header {
        background-image: none;
    }
    .dark .header-title-container{
        background: none;
        box-shadow: none!important;
    }
}
