:root {    
    --bg:#7f8000;
    --color:#013300;
	--accent: #d7e120;

    --red: red;
    --darkred: darkred;
    --green: green;
    --darkgreen: darkgreen;

    --padding: 10px;
    --padding_small: 5px;
    --padding_big: 20px;
    --radius:10px;
    --radius_small:5px;
    --radius_big:25px;

	--transparent_7: rgba(0, 0, 0, 0.7);
}

:focus {
    outline: -webkit-focus-ring-color auto 0px !important;
}

html {
    height: 100%;
}
body {
    min-height: 100% !important;
    height: 100%;    
    position: relative;
	overflow-x: hidden;
    font-size: 14px; 
    color: var(--color);
    background-color: var(--bg);  
    font-family: arial;
}

/* PAGE */
.full-height {
    position: relative;
    display: table;
    height: 100%;
    width: 100%;
    padding: var(--padding_big) 0px;
}
.full-height hr {
    margin: var(--padding_small) 0px;
    border: 0;
    border-top: 1px solid var(--color)!important;
    -mox-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 1;
}
.full-height-title{
    display: table-header-group;
}
.full-height-title h3 svg{
    margin-right: var(--padding_small);
}
.full-height-content {
    display: table-cell;
    vertical-align: middle;
    padding: var(--padding_big) 0px;
}

/*---------------------input, select, text---------------------*/

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p, address {
    margin: 0px;
}

h1 {
    font-size: 32px;
    line-height: 32px;
    font-family: impact;
	color: var(--accent);
}

h2 {
    font-size: 28px;
    line-height: 28px;
    font-family: impact;
}

a, a:hover, a:focus {
    text-decoration: none;
	color:var(--accent);
}

.game_container{
	position: relative;
	z-index: 1;
}
.game_box{
	position: absolute;
	z-index: 1;
	top: 50%;
	transform: translate(0px, -50%);
}

html {
    height: 100%;
    min-height: 100% !important;
    height: 100%;    
    position: relative;
}
body{
    overflow-x: hidden;
    font-size: 14px; 
    color: var(--color);
    background-color: var(--bg);  
    font-family: arial;
}

.full-height {
    display: table;
    height: 100%;
    padding: var(--padding_big) 0;
    position: relative;
    width: 100%;
}

.full-height-content {
    display: table-cell;
    vertical-align: middle;
    padding: var(--padding_big) 0px;
}

#maze_logo{
	width:80px;
}

.button_maze_group{
	margin: var(--padding) 0px;
}

/*---------------------canvas---------------------*/

#myCanvas{
	background:#fff;
	border:solid 1px var(--bg);
}
.message_banner_main{
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	width:100%;
	background:var(--transparent_7);	
	z-index:9999;
	visibility: visible;
}
.message_banner{
	color:var(--accent);
	height: 100%;
    display: table;
    width: 100%;
}
.message_banner .message_banner_text{
	display: table-cell;
    vertical-align: middle;
}
.button_try_again{
	border:solid 1px var(--accent);
	padding:var(--padding_small) var(--padding);
	margin:var(--padding);
	border-radius:var(--radius_small);
	text-align:center;
	font-size:14px;
	background:transparent;
}
.arrow_mobile{
	display:none;
}
.button_icon{
	border:solid 1px transparent;
	padding:0px;	
	text-align:center;
	font-size:40px;
	line-height:36px;
	display:inline-block;
	background:transparent;
}

.button_maze{
	border:solid 1px var(--color);
	padding:var(--padding_small) var(--padding);
	border-radius:var(--radius);
	text-align:center;
	font-size:12px;
	width:100%;
	max-width:120px;
	display:inline-block;
	background:transparent;
	line-height: inherit;
}

/*---------------------footer---------------------*/

footer { 
    padding: var(--padding) 0px;
    color: var(--color);
    position: absolute;
    width: 100%;
    bottom: 0;
}
footer ~ div {
  visibility: hidden;
}

/*---------------------media---------------------*/
@media (max-width: 1023px) {
	.arrow_mobile{
		display:block;
	}
}
@media (max-width: 960px) {
	footer { 
		position: static;
	}
}
@media (max-width: 480px) {
	body{
		padding:var(--padding) 0px var(--padding_big) 0px;
	}
    #maze_container div{
		overflow-y: hidden;
		overflow-x: auto;
		width: 320px;
		margin: 0px auto;
		padding: 0;
	}
	.container .row{
		padding-bottom:var(--padding);
	}
	
	#maze_logo{
		width: 40px;
		display: inline-block;
		vertical-align: middle;
	}
	
	h1 {
		font-size: 24px;
		line-height: 24px;
		display: inline-block;
		vertical-align: middle;
	}
}

::-webkit-scrollbar{
	width: 10px;
	height:5px;
	border-radius: var(--radius);
}
::-webkit-scrollbar-track {
	border-radius: var(--radius);
	background:var(--accent);
	border:solid 4px var(--color)
}
::-webkit-scrollbar-thumb{
	border-radius: var(--radius);
	background-color: var(--bg);
	border:solid 1px var(--accent);
    cursor: pointer;
}